[2022-02-19 19:24] matth79 opened #2 "What channel will authors use for high-level feedback?"
Pull requests are a good mechanism for discussing specific edits already made, but in cases where we want to share high-level feedback with many or all code contributors, where shall we do that?

GitHub issues?
Private chat.google.com space?
Wait for regular video calls?

(This here is my vote for GitHub issues, acknowledging that those are publicly viewable.)

[2022-02-21 05:10] ddkapan commented on #2
This sounds great for a spot to point out medium and large issues. For lot’s of back-and-forth we’ve been using Slack, yet Google chat is also fine! Thoughts everyone?

[2022-02-23 20:46] ddkapan opened #3 "Branches and pull requests"
Hi all, let's follow @matth79 and use [branches](https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/about-branches#working-with-branches) and [pull requests](https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/about-pull-requests) to move forward. See the

[2022-02-23 21:16] foozleface commented on #3
Hi everyone,

  Git, like wizards of yore, is subtle and quick to anger. If you get stuck, feel free to be in touch. It's a steep learning curve.

-Joe

[2022-03-17 00:21] matth79 commented on #2
Sounds good to me. I will close this and use issues.

[2022-03-17 00:21] #2 closed

[2022-03-17 00:26] matth79 opened #6 "Error in library(here) : there is no package called ‘here’"
To reproduce, from the root of this repo:

[code]

It emits a bunch of tidyverse warnings that perhaps are normal, followed by the error message from the issue title.

When launching from the COMB directory, it looks like I can work around this by editing readML.R and redefining here() to be the identity function, but I'm opening this issue to find out what's the proper way.

[2022-03-17 00:28] matth79 commented on #6
here is a standard package on CRAN.

Sorry for the noise.

[2022-03-17 00:28] #6 closed

[2022-03-22 21:49] #3 closed

[2022-03-22 21:50] ddkapan commented on #3
Not very active, so people got the message, see the next issue where I document forking and cloning the repo locally and then using git subtree to get features from one repo to another...

[2022-03-22 21:52] ddkapan opened #10 "Forking and adding a feature from the branch on a fork: Git subtree"
Forking and adding a feature from the branch on a fork: Git subtree to move features from one repo to another and preserve commit history

1. Forked the repo COMB to COMBddkapan on personal GitHub & clone from GitHub to your favorite place for git projects
[code]

2. Change directory to the local copy of CAPLES (the source repo)
[code]

3. Then split out the feature as a branch with the feature na

[2022-03-23 22:30] mkclapp opened #13 "Remote Sensing data outputs"
Need: csvs from remote sensing  data.
Variables of interest (at 1ha and 4ha scales): *mean canopy height,
*mean canopy cover,
*#/% of pixels of tree heights >28m,
*mean NBR,
*elevation (?).

-[ ] Place in COMB/ (create subdirectory for spatial data/covariates?)
-[ ] make sure model scripts link to the new data

[2022-03-23 22:33] matth79 opened #14 "ARU2point and latlong metadata updates"
We are likely missing records in aru2point.csv and a latlong.csv from a Sheet that was previously shared with mattharvey@.

Some BigQuery queries identify, and Resilience Data Drive files have been created for:

- [missing point id](https://drive.google.com/file/d/12tO-CM9dVbRNzQenhaHdlpPxQSKiMDow/view?usp=sharing)
- [missing coordinates](https://drive.google.com/file/d/17I10TVk2c-4sBvCDZUQJLL0x7y

[2022-03-23 22:35] matth79 opened #15 "Produce the y matrix for ML output"
(species, point, year, visit) -> {0, 1}

...possibly needing to resolve ambiguity in "visit."

----

Frame ML detections as a type-2 observation for occupancy models require making a binary decision based on an aggregation over time and per setting of the occupancy model indexing dimensions (species, point, year, visit).

Since a single-year JAGS model is ready to run, per-year versions indexed by

[2022-03-23 22:39] matth79 opened #16 "Fix birbmap explorer (clean up to single data source)"

[2022-03-23 22:40] matth79 opened #17 "Productionize delintPC.R"
- DRY refactor (duplicate version to call the other)
- (script  already written [~/COMB/point_counts/data-ingest/src/delintPC.R] - just needs to be executed and maybe some troubleshooting)

[2022-03-23 22:41] matth79 opened #18 "Add pre- and post-burn pseuo years to map dashboard"

[2022-03-23 22:42] matth79 opened #19 "Verify high detection count for wewpew point 535 is correct"
Forgot the exact year. 2019?

Seemed higher than neighboring points in more than one year.

[2022-03-23 22:46] matth79 opened #20 "Debug JAGS scripts and add necessary data"
- Fix or move over dependencies for Mary’s singleyr_occ_setup.R script

Function acast (added library(reshape2))

[2022-03-23 22:47] mkclapp commented on #13
@

[2022-03-23 22:59] ddkapan commented on #19
It is real, the 535 had observations every year and largest single observation for 10 minutes was 6 individuals~

[2022-03-23 22:59] #19 closed

[2022-03-23 23:05] matth79 commented on #14
Source of truth for aru2point:

https://docs.google.com/spreadsheets/d/1e2DV2eykUskpffVqIZBOjmB08x3Z_cbt5NK93B3V6JE/edit#gid=391412346

If the "missing point id" are in this sheet, this is working as intended.

There is no coordinates file in "Resilience Data Drive" yet. The version Matt used for the dashboard is

https://docs.google.com/spreadsheets/d/1rIh8hSg79rOi0cDZMJh6yKRqCcBGsjfxXTyuE5O9eEw/

[2022-03-23 23:17] matth79 opened #21 "Permissions errors adding files to data drive"
@matth79 tried uploading files to the data drive but on clicking the Google Drive add button, there is a message "You do not have permission to edit "input""

[2022-03-23 23:19] mkclapp commented on #17
ran delintPC.R, added necessary R packages and dependencies. Created a csv of delinted data (PC_delinted.csv) and added to point_counts/data_ingest/output for use in COMB/models scripts.

[2022-03-23 23:30] matth79 commented on #14
Real point missing from latlong.csv: 1072

Apparent typos in aru2point: 699, 557

[2022-03-23 23:33] mkclapp opened #23 "readPC.R: timestamps incorrect"
likely a tz issue

[2022-03-23 23:49] ddkapan opened #26 "The general 'wire-up' to the data issue ..."
Need to figure out some best practices && then implement them to wire our code to the data
- [ ] Best practices, new tools, GoogleCloudPlatform?
- [ ] [SpatialPtCtPlots.R](https://github.com/calacademy-research/COMB/blob/main/spatial_plots/src/SpatialPtCtPlots.R)

[2022-03-23 23:58] #20 closed

[2022-03-24 00:00] matth79 commented on #14
Authoritative location will be in the shared drive: COMB/acoustic/data_ingest/input/(aru2point.csv|latlong.csv)

latlong missing in 1072 is fixed

aru2point typos still pending lookup of original data

[2022-03-24 00:08] #17 closed

[2022-03-24 00:12] jdumbacher commented on #14
Thanks Matt!

I have replaced the aru2point.csv with the new authoritative version in the
shared drive: COMB/acoustic/data_ingest/input/(aru2point.csv|latlong.csv).

A copy is attached for you here.

- Jack

On Wed, Mar 23, 2022 at 5:01 PM Matt Harvey ***@***.***>
wrote:

--
-----
John P. Dumbacher (Jack)

Curator of Ornithology and Mammalogy

Institute of Biodiversity Science and Sustainability
C

[2022-03-24 00:20] jdumbacher commented on #14
It looks like point 557 (RED-4-CAPL_20180605_160000 - RED-4-CAPL_20180612_093000) was actually on point 577, and this was a typo in the aru2point file, and the correct point was verified from the aru-card from the door of the ARU.

Point 699 does not exist in the field, but ARU 4-RED_20210613_073000.wav was probably moved from 670-699 on 13_june_2021, although both the field calendar and the ARU d

[2022-03-24 03:54] matth79 commented on #15
(species, point, year, visit) -> {0, 1}

...possibly needing to resolve ambiguity in "visit."

----

Frame ML detections as a type-2 observation for occupancy models require making a binary decision based on an aggregation over time and per setting of the occupancy model indexing dimensions (species, point, year, visit).

Since a single-year JAGS model is ready to run, per-year versions indexed by

[2022-03-24 04:03] matth79 commented on #21
The cause of the error is that some contributors are in Google Drive domains whose administrators have enabled a security policy prohibiting upload to shared drives from other domains.

A possible workaround is to use credentials from a different domain to access this project's shared data drive.

[2022-03-24 04:03] #21 closed

[2022-03-24 04:14] matth79 commented on #21
An interactive R session acquires an OAuth token that tidyverse then caches:

[code]

After this,

[code]

begins downloading files using the permissions granted to personal@gmali.com.

[2022-03-24 17:21] matth79 opened #28 "Change csv-to-avro to emit 4-letter bird codes"

[2022-03-24 17:22] matth79 commented on #26
Service account as a way of accessing Google Drive is one alternative to consider.

[2022-03-24 18:14] mkclapp opened #30 "Combined-method survey effort evaluation"
[low-ish priority but would be highly useful to investigate prior to field season 2022]

GOAL: to evaluate the impact of different levels of survey effort (# of in-person point count surveys) on the quality of the occupancy model that uses both ML and point count data.

Using the simulation described in AHM2 7.6.1, simulate different numbers of visits in the y matrix and evaluate effects on occupa

[2022-03-24 18:42] mschulist commented on #30
This is something that I really want to work on once we have the models completed. Super cool!

[2022-03-24 20:16] mkclapp commented on #30
Awesome, Mark! Looking forward to it! We are making good progress this week, so maybe quite soon..

[2022-03-24 20:59] matth79 commented on #14
Assuming "probably moved from 670-699" is also a typo and should be "probably moved from 670-669", which seems consistent with the rest of the second paragraph.

There are still records "not on point" and "" (blank), but these are expected and I csv_to_avro.py will handle them by leaving point null, which will keep them out of results of queries that check point_number > 0.

I will re-run csv_to_a

[2022-03-24 20:59] #14 closed

[2022-03-24 21:22] matth79 opened #31 "readPC / delintPC CSV filename depends on date"
Currently delintPC has a hard-coded filename that includes the date readPC ran, but this is not stable in the case that someone has re-run readPC.

[2022-03-24 21:44] matth79 opened #32 "Automate environment initialization"
Knowing which R packages a script depends upon currently requires running the script repeatedly and calling packages.install() on each failure.

Some scripts also seem to rely on library() functions (e.g. fread), where the library() has not been explicitly loaded in the script.

Ideally, it would be possible, from a bare R install, to run one script:

[code]

with a packages.install line for each

[2022-03-24 22:11] mschulist commented on #32
Yes. This would also be useful when updating R since updating R requires reinstalling packages.

[2022-03-25 03:11] ddkapan opened #33 "Replace /acoustic/…/output/‘dataML*.csv’ with newly computed versions"
See pull request (approved) “ updated readML.R to include some code from Mark. We will need to replace the files previously placed in the Google drive with the new dataML versions.”

[2022-03-25 03:17] mschulist commented on #33
Is it point_count/... or acoustic/data_ingest/... ?

[2022-03-25 03:19] ddkapan commented on #33
Yup, you got it right!

[2022-03-25 19:32] ddkapan commented on #13
Working on it, new directory for this work is /spatial/, code in /spatial/note/

-[] run
-[] getting raster_brick -> /spatial/output/
-[ ] Break code into /spatial/src/ ideally

[2022-03-26 00:50] ddkapan opened #41 "Hackathon wrap up"
- [X] Get 1.0 example(s) working:
- [X] Stretch goal: mix PC and ARU model
Use 7.6.3 model from AHM

-[ ] Clarify the math for a model that describes our situation (See above equations (a list of stuff to fix))
-[ ] Finalize the REPO to make it work
* data plumbing
* data carpentry
* spatial data

[2022-03-26 04:18] ddkapan commented on #26
Thanks @matth79 does a service account cost $?

[2022-03-26 04:19] ddkapan commented on #23
@mkclapp can you point out the relevant code line and how far off we are?

[2022-03-26 04:36] matth79 commented on #15
Obsolete by PR #40

Binary observations were for the AHM 7.3 model, but we are instead opting for the count-based model of AHM 7.6 as a baseline for us to extend.

PR #40 produced (point, visit, count) records for a fixed species and year and chose "filename" as the scope of aggregation for the count (acoustic visit).

The readML output already has all species and years, and some the alternatives

[2022-03-26 04:36] #15 closed

[2022-03-26 16:48] matth79 commented on #26
I believe a service account does not cost money by creating it in a cloud project for which billing is disabled, though I'm not 100% sure of that.

However, now that you got person user accounts working for everyone, sharing around a common credentials file doesn't seem necessary or best. It also was even less easy to understand than the user OAuth token method.

If we end up with automated proces

[2022-03-26 19:11] ddkapan commented on #33
Look on google drive, I think Jack may have done this.  Work backwards from the latest code in models to see what is referenced. Cheers.

[2022-03-26 19:19] ddkapan commented on #32
Hi @matth79 & @mschulist there are several options, an easy one would be to gather a unique list of all calls to library() && require() and then do the basic 'if you don't find the package installed, install it logic'.

A better way maybe would be to create a conda environment, set up with environment.yml and load that environment before running anything.  Thoughts?

[2022-03-26 19:33] mschulist commented on #33
Yeah, while I recreating the versions I noticed that Jack had put new ones in there.

[2022-03-26 20:22] ddkapan commented on #33
Look over Jack's new code as well. You can 'codify' (ha, ha) the changes by ensuring that the different cutoffs are documented (and possibly commented out) so we know what generated what. Thanks! :)

[2022-03-26 20:39] matth79 commented on #32
I did some research on this.

[renv](https://rstudio.github.io/renv/index.html) appeals to me because of its conceptual similarity to python virtualenv. It also looks like it might do what I asked in the description just for me, without needing to mandate it for all contributors. (What gave me that idea is the "dependencies are discovered" [bit](https://rstudio.github.io/renv/reference/init.html#d

[2022-03-26 20:47] #28 closed

[2022-03-26 20:51] ddkapan commented on #32
Thanks, I appreciate this!

For now a hack is to have build a 'check the library' list c("package1","package2",...) to see if installed and not pass to install.package(...).

Top of each script, or overall in the first set of functions?

Or not at all?

[2022-03-26 21:14] ddkapan commented on #32
I read the [https://cran.r-project.org/web/packages/renv/vignettes/renv.html](vignette) about renv, that sounds perfect! It will be a tiny bit of effort for us to educate ourselves, we can also help by calling renv::snapshot().  But I'm curious how this will interact with git/GitHub, thoughts? Willing to test? :) DK

[2022-03-26 21:19] matth79 commented on #16
Data Studio "explorations" are not meant to be shared but only for their creator to later publish to a report.

...such as [Caples Bird Counts](https://datastudio.google.com/c/reporting/8495dcff-77c5-4a42-812e-7ae5ed79494c/page/sFToC)

...which has now corrected the indexing bug and always omits UNKN.

[2022-03-26 21:19] #16 closed

[2022-03-26 22:07] matth79 commented on #32
Usually the way dependency pinners like venv, gem, and cargo interact with version control is to create some sort of "lock file" with the version numbers of the actually installed dependencies.

We very definitely do not want whatever directory(ies) end up holding all those specific versions of install libraries to be tracked in github, but typically the lock file does get submitted to keep everyo

[2022-03-26 23:48] ddkapan commented on #16
Nice, the studio viewer could have the point number among other pop-up data, meanwhile the data look quite reasonable, but there are large between year changes which I am not surprised by... in the long-run *raw* and *occupancy* estimates could be plotted for acoustic, human and one, the other or both for the two categories respectively... A veeeeerrryyy loooong stretch goal would be to play the r

[2022-03-27 05:45] ddkapan commented on #32
OK, so what are the next steps, and do we need to modify the .gitignore?

[2022-03-28 14:55] ddkapan opened #48 "Merge pull request order for hard work by @matt79 over weekend"
Hi all, thank you all again for your amazing effort last week!

@matth79 worked all day Saturday and some on Sunday on the combined model and other issues: package environment and adopting consistent styles. Thanks Matt!!!

Once everyone has looked at the changes it may be good to merge them in a particular order, mostly oldest -> newest. So I can do that a little later today. Let me know when you

[2022-03-28 21:29] mkclapp commented on #31
Bookmarking this to address on Tuesday 3/29!

[2022-03-29 00:59] matth79 commented on #32
Durrell tested this and only hit one small snag.

People who pull will be prompted to run renv::restore but will also have the option not to do that if they don't want to wait ~30 minutes for packages to download and install.

As a side note:

While working on this I found that there definitely are C dependencies. On Debian Linux they are called (jags libdgal-dev libnlopt-dev libdunits2-dev libssl

[2022-03-29 16:52] ddkapan commented on #32
This is great Matt. I will update the tests of renv addition from your productive weekend with the latest merged pull requests then if all agree we can merge this final pull request. Thanks again!!!

[2022-03-29 16:54] ddkapan commented on #31
Maybe give a stable name to the object as written and we can work with @mschulist  to rename the old object with the creation date embedded.  That will give us a nice function to do so for model runs etc saved to Google drive.

[2022-03-29 18:10] mkclapp commented on #48
I think aside from the renv request, all these changes have been successfully merged onto main! Thanks @matth79 !!

[2022-03-29 18:12] mschulist commented on #33
I believe that Jack replaced them all with the new versions, so I believe that it should be closed.

[2022-03-29 18:23] #32 closed

[2022-03-29 18:25] ddkapan commented on #48
We figured it out and also merged renv, closing this issue. Thanks again @matth79 !!!!!

[2022-03-29 18:25] #48 closed

[2022-03-29 18:26] ddkapan opened #50 "Clarify the math for a model that describes our situation (See above equations (a list of stuff to fix))"

[2022-03-29 18:36] ddkapan opened #51 "data plumbing (mostly get @mkclapp's computer to use drive_sync)"

[2022-03-29 18:37] ddkapan opened #52 "spatial data, split out notebook functionality"

[2022-03-29 18:38] mkclapp opened #53 "species ID for combined model hardwired in ML data import"
When we first developed this script, we used a subset of the ML data that was manually filtered to RBNU. The current script reads in that filtered dataframe, but I propose the following:

renaming the script to singlespp_combined to distinguish it from (future) community models
<s>reading in the full ML output (the one that contains logits for all species) and using the speciesCode object that's s

[2022-03-29 19:09] ddkapan commented on #13
Focus on these outputs:

- [ ] Fraction of x_ha of CanopyHeight > 28

- [ ] Actual canopy cover of pixels where CanopyHeight > 28

- [ ] and the remaining raster derived variables output for mean, median etc e.g. ```
names(canopy_fuel_nbr_dem_RAVG_LIDAR)[c(1:3, 7:15, 25:27, 30:32)]
 [1] "CanopyBaseHeight2018"
 [2] "CanopyBaseHeight2019"
 [3] "CanopyBaseHeight2020"
 [4] "CanopyLayerCount2018"
 [5]

[2022-03-29 19:11] ddkapan commented on #52
See issue #13

[2022-03-29 19:35] matth79 opened #54 "Model combined.R does not sync some inputs"
Running combined.R from a state where no Drive files have been synced fails on PC_delinted.csv being not found.

- Copy authoritative versions of point_counts/data_ingest/output to Drive
- Modify combined.R to add a drive_sync of point_counts/data_ingest/output/PC_delinted.csv

[2022-03-29 19:38] matth79 commented on #26
Specific cases include

#54 #23

[2022-03-29 20:09] ddkapan opened #55 "Using google drive_sync() to put notebooks into /reports/ directory"
Matt's notebook is now in the following folder on our Google drive repository:
Resilience_data_drive > COMB > reports
https://drive.google.com/file/d/1RBuqlhmVAmrBuwPZ9ke7VJykKnkLia-3/view?usp=sharing
Since this blends data and code with exposition we will add that folder to .gitignore and build a synchronizer by running the script:
drive_sync_reports.R from the command line.
Now a new 'feature' i

[2022-03-29 21:23] matth79 commented on #53
Yes, this is "the" critical path issue. I'll leave it to you, since you are reporter and assignee.

- Rename sounds good.
- Reading the full ML output is probably a good place to start, but I can see a case for investing some time into making a library that could efficiently read a data.table for only a specified subset of species and only a specified subset of years.
  - "library" seems appealing

[2022-03-29 21:46] ddkapan commented on #50
See all the math in the whiteboard/giant post-it math scribbles from the hackathon here: [https://docs.google.com/document/d/15PvW0QQpZhNM49KlpwyRK3fsvKuGIIi0Xrl7A75RC7Q/edit](COMB Hackathon Agenda & Notes)

[2022-03-29 22:47] matth79 commented on #55
This should probably include adding a line to .gitignore

[code]

[2022-03-29 22:54] matth79 commented on #31
Stable filenames sure make things easier.

One thing to consider is that Google Drive can have multiple versions of the same object. It might be worth investigating how that interacts with drive_upload. If the upload just appends the latest version, keeping the history, then custom renaming and copy strategies may not be needed.

[2022-03-30 00:12] mkclapp commented on #53
Hi Matt, thanks for the responses.

Aye aye!

Agreed -- we will be spending quite a bit of time on different combinations of year, species, and logit cutoffs while we build and optimize models, so having a library script that could flexibly handle this would be good. I am running into some issues on readML.subset.R (which is where I believe the ML output subsetted to rebnut originated) but to fix

[2022-03-30 00:31] ddkapan commented on #53
Great conversation, a simple first step is to make a function to do the filtering, filter_ml <- function(x, y, z ...){ function guts}

Then a simple call is

  filter_ml(x, y, z ...) %>%
  model_stuff_here ...

Once it works for one, it works for all, see purr::map() class of functions and even better furrr drop in parallel replacements ... then you can iterate across species and study designs etc

[2022-03-30 01:26] mkclapp commented on #53
status update: since we've opened a can of worms re: data ingestion, I am stashing my changes until tomorrow when Matt and I can meet to discuss a better structure for the data library.

[2022-03-30 01:28] matth79 commented on #53
I sent a calendar invite to Mary at an arbitrary time tomorrow afternoon. Feel free to move it if it doesn't work. My schedule is flexible.

My opinion is it's always fine to do something "quick and dirty" with the plan to fix later. (as long as it really is quick)

[2022-03-30 06:14] ddkapan commented on #55
Agreed, let me test your overall improvements and interaction with the reports directory with the your last pull request on this topic.

[2022-03-30 08:44] ddkapan commented on #33
See discussion on slack, Jack suggested dropping the precomputed slices and that will be consistent with doing some of the filtering steps on the fly. See issue #

[2022-03-31 23:18] matth79 opened #60 "Remove score subsampling from combined.R"
Short story: code as of end-of-hackathon was correct.

(@mkclapp had that right on even earlier days.)

@sdenton4 convinced @matth79 in a video call that the "scores", of which we have nsamples many, really were assumed by AHM 7.6.3 to have been in one-to-one correspondence with the "1s" summed up to get the entries or y.aru. (Sufficient but not necessary for nsamples = sum(matrix entries of y.aru

[2022-03-31 23:38] matth79 opened #61 "Measure effect of day vs. file aggregation strategy"
Specifically, the rates lambda and omega are expected a priori to vary with time of day, so defining "surveys" (# = nsurveys) as 15-minute files could make the posteriors of these rates multimodal.

It's not clear how / whether this would affect the estimates.

We could add an aggregation period argument (file / day) to the ML data tabulation API and do a controlled experiment with both of its set

[2022-04-01 00:19] mschulist opened #62 "Clean up readML.R and make it tall and remove partial recordings"
readML.R ouput should be tall/sparse (report the time that it takes to rotate the matrix)
Any recordings that are <15 mins should be thrown out.

[2022-04-01 00:52] mkclapp commented on #60
I just addressed this (and potentially beat this dead horse) in an email to all collabs in response to your recent notebook share, with additional thoughts on the ramifications of thresholding/subsampling etc, based on my conversations with you and Tom!

[2022-04-01 18:46] #60 closed

[2022-04-01 21:25] mkclapp commented on #30
Bookmarking AHM1 Ch 10 pp.584-6, and AHM2 Ch 7 pp.428-9 for some guidance on this

[2022-04-01 21:47] ddkapan opened #64 "Integrating on-the-ground sampled vegetation data into the git"
- [x] Create new directory vegetation
- [x] Mirror on Google drive
- [x] Build source code to massage access db outputs into a great summary "read_clean_veg.R"

Background: Sarah Jacobs worked with Kirsten Bovee and created a really cool set of features, this is the first, sampled vegetation data for 11.3m plots from over 70 of our points.  These data will be useful to compare to the remote sensin

[2022-04-01 21:51] sarahjjacobs opened #65 "Integrating shiny app visualization of vegetation data"
- [x] Create new directory viz
- [x] Mirror on Google drive
- [x] Copy and wire-up the script

[2022-04-02 01:15] matth79 commented on #62
[Draft](https://github.com/calacademy-research/COMB/pull/67/files#diff-09f5e4effbc462713239ed9ed7da95b2a98f83897d3184356c22bc8b50fea591R82) of the function that would like to read it.

[2022-04-02 19:24] matth79 commented on #62
Lots of [discussion](https://github.com/calacademy-research/COMB/pull/67#issuecomment-1086702573) around this on PR #67

[2022-04-04 00:34] mschulist commented on #62
I just finished making the rough draft of the changes. The output now includes all logits and is tall, meaning that a lot of the data is repeated, making the file huge. It is 162GB and it on google drive.
[https://drive.google.com/file/d/1a9C_iCJ8hFO261Qx7_j_9o8hZojOisMy/view?usp=sharing](url)

[2022-04-04 02:30] matth79 commented on #62
Cool. Nice work, and yes that is huge.

@mkclapp or @ddkapan could correct me if I'm wrong, but if I understand, we only need rows where (logit > -2.0) (the rule for making it "sparse"). That could cut down on the number of lines.

Downstream readers will only need (Species, Point, Date_Time, Start_Time, Logit). Leaving out ARU, filename, etc. could cut down a lot on characters per row.

This migh

[2022-04-04 04:42] mschulist commented on #62
Thanks for those brilliant suggestions. I just reran it but only kept the columns that you mentioned and used the 4 letter codes. It's _only_ 56GB now! And that's without getting rid of low logits.

[2022-04-04 15:55] sdenton4 commented on #62
I'm not sure what the disk format is; there may be some good tricks to
reduce the size of the logits.
if it's a binary format: save the logits as float16 or convert to an 8-bit
int (where 0 = -2.0 and 255 = 5.0 or so), or
if it's another CSV, find a way to save in a binary format, or drop to 1
place after the decimal.

Best,
-tom denton
http://inventingsituations.net

On Sun, Apr 3, 2022 at 9:43 P

[2022-04-04 17:42] matth79 commented on #62
Thresholding, now that there's only one species per line, removes all the other-species logits from lines where only one of a few species logits had been above threshold, which is most of them. Saying this is a 90x reduction in size would be an overstatement, but it's that order of magnitude.

Going after record length, in contrast, could cut the size about in half in the best case. The biggest op

[2022-04-04 17:45] matth79 commented on #62
It could be a problem on my end, but when I point BigQuery at this and "SELECT *" without limit, I get errors like

Error while reading table: comb.dataML_tall, error message: CSV table references column position 4, but line starting at position:58676002278 contains only 1 columns.

I'll download this on a single machine and update this with what I find.

[2022-04-04 19:27] #53 closed

[2022-04-04 19:58] mkclapp commented on #62
I missed a lot of activity over the weekend and am trying to track progress chronologically. It sounds like @mschulist drafted the updated readML.R, and @matth79 did a draft of the following step (a function to intake the tall csv and create arrays appropriate for JAGS.

@mschulist , can you identify the branch you're working on so I can pull and review via my computer (connected to alice)? Then I

[2022-04-04 21:38] matth79 commented on #62
I spied through the [Branches](https://github.com/calacademy-research/COMB/branches) navigation and guess @mschulist changes are in [this branch](https://github.com/calacademy-research/COMB/tree/readML_cleanup).

I think it might take a while to re-run, though, and maybe the output is already somewhere on alice. I've uploaded a file dataML_tall_unofficial.zip to the top-level of Resilience_data_dr

[2022-04-04 21:44] mschulist commented on #62
Yes, that is the branch. The output is on alice already under my directory
if you want to just use that without having to download the huge file.

On Mon, Apr 4, 2022 at 2:39 PM Matt Harvey ***@***.***> wrote:

[2022-04-04 22:01] matth79 commented on #26
I tried using symlinks for data dependencies in [this commit](https://github.com/calacademy-research/COMB/pull/68/commits/7cd9082ea323952f2a64b758a3da4d98d90443bd).

It works, but it made a mess of .gitignore.

If we want the symlinks, maybe it would be good to consider not having lines ending in "input/" in .gitignore except for "original" human-created data like aru2point.csv, latlong.csv, etc.

[2022-04-04 22:03] matth79 commented on #51
Is this one obsolete?

(especially since issue #26 appears to be a broader near-duplicate)

[2022-04-04 22:09] matth79 commented on #62
To my earlier comment:

It was BigQuery+Drive that was in error. I downloaded to a single machine and verified that all rows have 5 fields.

[2022-04-04 22:11] matth79 commented on #62
We might also want to consider filtering out (UNKN, nonbird, human) at this stage.

[2022-04-07 01:05] matth79 commented on #18
Added "merged_year" and "burn_epoch" dropdowns, each displaying detection_count per slice.

https://datastudio.google.com/c/reporting/8495dcff-77c5-4a42-812e-7ae5ed79494c/page/sFToC

[2022-04-07 01:05] #18 closed

[2022-04-07 23:17] matth79 commented on #51
Mary and I diagnosed:

stale version of the googledrive package on Mary's laptop had a bug accessing team drives.

Upgrading the package one-off fixed it, and Mary's running renv::restore for good measure.

[2022-04-07 23:17] #51 closed

[2022-04-07 23:33] matth79 commented on #54
Assigning this to Mary, since she "owns" the point count data, for the first bullet:

- Copy authoritative versions of point_counts/data_ingest/output to Drive.

(even Resilience_Data_Drive/COMB/point_counts does not exist yet)

-----------------------------------------------------------------

The second bullet point is obsolete, since we decided to remove the drive_sync() from combined.R in favo

[2022-04-08 00:08] ddkapan commented on #51
Awesome news! Thanks!

[2022-04-19 04:04] ddkapan commented on #13
This and issue #52 will be closed with the merging of the current pull request: https://github.com/calacademy-research/COMB/pull/70

[2022-04-20 18:16] mschulist commented on #62
I just uploaded the outputs from the new readML.R that are tall. Filtering logits that are below -2.5 significantly reduces file sizes. They are in the `acoustic/data_ingest/output/tall/` directory in google drive.

[2022-04-26 20:22] ddkapan commented on #65
Sarah did all this and more! Thanks, @sarahjjacobs !!!

[2022-04-26 20:22] #65 closed

[2022-04-26 20:23] ddkapan commented on #64
This along with the shiny app to visualize complete. Thanks, @sarahjjacobs !!!

[2022-04-26 20:23] #64 closed

[2022-04-26 20:24] ddkapan commented on #52
This and issue #13 are finished with the pull request #70.

[2022-04-26 20:24] #52 closed

[2022-04-26 20:25] ddkapan commented on #13
This and issue #52  are finished with pull request #70.

[2022-04-26 20:25] #13 closed

[2022-04-28 21:48] ddkapan opened #72 "Fix .gitignore that was updated in recent pull request, we still need to ignore /input/"
Not sure what happened, probably during one of our commits, but we need to still generically ignore `/input/` directories, or else we will pull in a lot of files from your local directories and push them to GitHub.  No Bueno.   Don't pull various branches (I've temporarily patched the 'main' branch .gitignore). I'm tagging everyone actively developing so they read this message. Meaning @mkclapp @l

[2022-04-28 22:04] ddkapan commented on #72
Ok, I figured it out. @matth79 suggested we DO NOT ignore generically `input` since we may want to synchronize symlinks. So the `input` directory was removed from the `.gitignore` and some specific `input` directories were left in `.gitignore`. This wasn't a problem until we added new chunks with original inputs in new places that were not `.gitignored`.  We can either go back to generically ignor

[2022-04-28 22:13] mschulist commented on #72
If the symlinks contain absolute paths, then synchronizing them would make them not work on other people's computers.

[2022-04-29 00:31] ddkapan commented on #72
Totally true, I think @matth79 had a workaround but I don't recall the details. We should test if the the symlinks work for all users and in the meantime we may want to adjust the `.gitignore` to be specific to various input directories.

[2022-05-19 20:33] mkclapp opened #73 "add PC-only models (including setup and output exploration)"

[2022-05-25 19:50] #73 closed

[2022-05-25 20:20] mkclapp opened #76 "pt 1072 missing in raster dataset"
This point is in the Silver cluster and seems to be missing from the dataset that summarizes the raster files in the google drive link [ ](https://drive.google.com/drive/folders/1vNSUlaz34OA4uYNDjOkT_lToY60y0BPo). We do have point count data for this point.

[2022-05-25 20:37] mkclapp commented on #31
Addressed in recent pull request #75

[2022-05-25 20:37] #31 closed

[2022-05-25 20:59] mkclapp commented on #76
[] diagnose root of issue in raster data
[] if data for that point exists, edit BACI_setup.R to include it in the y array/data list

[2022-06-29 22:53] matth79 opened #78 "model_read_lib visitAggregation is incorrect."
Setting aggregation to day does not do the right thing (per report in 6/29 meeting).

This issue tracks manual verification of each allowed setting and fixing as necessary.

[2022-06-29 22:53] matth79 commented on #61
Blocked by #78

[2022-07-24 18:24] mkclapp opened #79 "skeleton code for posterior predictive checks"
The following code can be added to the end of 'combined.R' to begin working on PPCs for the models. This was originally developed with Lauren and needs to be run and debugged...

# attach(jagsResult_WEWP$sims.list)
nIter <- length(jagsResult_WEWP$sims.list$p11)
Tobs <- numeric(nIter)
Tsim <- numeric(nIter)
n <- rowSums(!is.na(data$y.ind[, 1:4])) # n = number of visits
y <- rowSums(data$y.ind[, 1:4

[2022-07-27 20:25] mkclapp commented on #78
Setting visitAggregation = "day" now suddenly seems to work in the script combined.R without me changing anything else. The values for the # of ML 'hits' per morning appears reasonable. If someone else could confirm, I think we can close this issue? @matth79

The bad news is that simply changing the aggregation didn't seem to make model fit any better (MCMC chain convergence fails the Rhat < 1.1 r

[2022-08-17 19:53] ddkapan commented on #72
I'm going to CLOSE this issue which I provisionally fixed. I have a working .gitignore on the main branch that ignores /input and /output which facilitates starting at an intermediate spot in the code and using arbitrary inputs from previous outputs created by someone else and synchronized to google drive to continue work.

[2022-08-17 19:53] #72 closed

[2022-08-17 19:58] ddkapan commented on #26
I actually ignored matt and pushed a .gitignore on a branch and merged the pull request.  This is b/c Mark Schulist (elsewhere) confirmed that the symlinks need to be generated especially for each user so synchronizing them with GitHub wasn't going to work anyway.  Correct @mschulist?  What do you think @matt-har-vey?

[2022-08-17 19:59] ddkapan commented on #79
I think you have this working on your branch, can you ping me to discuss merging that branch @mkclapp?

[2022-08-17 20:00] ddkapan commented on #62
@mschulist is this issue 'finished'? :)

[2022-08-17 20:01] ddkapan commented on #78
@mschulist Can you confirm this works as @mkclapp says, if so this issue and a referring issue: can be closed.

[2022-08-17 20:04] ddkapan commented on #76
@mkclapp The new code just merged to the repo fixes this. We now have point 1072 + metadata from plots and satellite to describe it.  So I suggest you follow your second step immediately above and then close this issue. Thanks!

[2022-08-17 20:06] ddkapan commented on #50
Now a task in our next sprint/hackathon/workshop... ;). Add directly to BrainTex here: [COMB paper](https://braintex.goog/project/623e3c6040d80900a141c5df)

[2022-08-17 20:08] ddkapan commented on #55
See also /papers/ subdirectory ... forgot about this /reports/ suggestion and don't want to violate any GitHub development standards that we set unless they are not that big of a deal ... e.g. it isn't hard to sync a report since they are not to big...

[2022-08-17 20:08] ddkapan commented on #33
@mschulist is this issue now concluded?

[2022-08-17 20:09] mkclapp commented on #76
Ok great! If we don't want the point count BACI data on this repo, this issue can be closed immediately and the outstanding merge request #77 could be merged. Otherwise that merge request will need to be rejected and I will start again on a new branch of main...

[2022-08-17 20:10] mkclapp commented on #79
Yes; I can start a new issue with only that change to combined.R and do a pull request to incorporate it. Or, I can make it a standalone script that reads in JAGS output.

[2022-08-17 20:46] mschulist commented on #33
Yes. They should all be the correct versions in google drive now.

[2022-08-17 20:46] #33 closed

[2022-08-17 20:48] mschulist commented on #26
Yes, this is true. We can include a line of code that will (re)create them. We could also just reference the outputs from another script, but that makes it more difficult to see what the inputs are for a given script.

[2022-08-17 20:49] mschulist commented on #62
Yes, they are all in google drive.

[2022-08-17 20:49] #62 closed

[2022-08-17 20:57] mschulist commented on #78
I reran the script and it does work without errors, but I cannot find the object `visitAggregation` in `combined.R`. So it works, but I could be on the incorrect branch.

[2022-08-17 23:17] mkclapp commented on #78
Hi @mschulist,
it is an argument of the readCombined function and can simply be added to the others as such (I think/hope):

data <- readCombined(
  species = c(speciesCode),
  years = c(year),
  **visitAggregation = "day",** # the other option would be "file"
  visitLimit = aruVisitLimit,
  thresholdOptions = list(
    value = threshold,
    is.quantile = F
  ),
  squeeze = T
)

Feel free to add

[2022-08-23 04:44] ddkapan commented on #79
I think we settled on a standalone but not totally sure. Was busy last week & today! Let's review tomorrow!

[2022-08-23 04:49] ddkapan commented on #78
- [ ] Looking like aggregation working, correct?

- [ ] But let's discuss and address the great stuff above in Matt's comments before closing the issue

[2022-08-23 04:54] ddkapan commented on #76
I'm thinking it would be good to keep everything together until we have a dedicated ML ARU codebase. I'm happy to discuss, but IMO Let's not spend time splitting the repo at the same time as writing the new paper, without checking for dependencies, unless this a very simple fix, it sounds like it might cause some downstream problems.

[2022-08-23 04:56] ddkapan commented on #55
Can discuss after main stuff working...

[2022-08-23 04:58] ddkapan commented on #30
- [ ] Still interesting @mkclapp @mschulist ?

[2022-08-23 05:01] ddkapan commented on #26
- [ ] Go over symlink creation code for each occurrence of an /input/ directory in the codebase to finish this

[2022-08-23 16:22] mschulist commented on #30
Yeah, especially once the model is working to some extent. I can write a script that will feed the model differing amounts of data and can compare how the model does (confidence?) with the different amounts of data.

[2022-08-23 16:42] mkclapp commented on #30
+1! great Mark! We will let you know as soon as it is...

[2022-08-23 17:44] #79 closed

[2022-08-24 23:31] mschulist opened #91 "Make 5-minute point counts out of ARU recordings"
Currently, the smallest time period that you can get from an ARU recording is 15 mins as they are agg. based on the datetime. If we add the offset (time from the beginning of the recording) to the datetime, we can get more gradual control over the ARU data ingest.

[2022-08-26 19:33] ddkapan opened #94 "y_aru shape error for rare species."
For JAGS code to run, need to establish that the input data includes at least 1 false positive (y_aru / scores).
For example, try with BUSH (note that we are trying with the dataML_top3 / top1).

[2022-09-14 20:40] mkclapp opened #96 "inconsistent 4-letter coding between ML and PC data"
I tried setting species = "AUWA" in the latest version of our combined model ('top1_nop10_scores_nb_covars_ppc.R'; though the exact model shouldn't matter as it's a readCombined issue) but only PC data were properly read in; the ML matrix was populated with 0's only. This is because this species is listed as YRWA in the ML data. I confirmed that setting species = "YRWA" yields a data list with the

[2022-09-14 21:00] ddkapan commented on #96
Good find.

We should apply a fix to the PC dataset since we are not using accepted names and the subspecific information isn't relevant for this work.

AUWA = YRWA
RSFL = NOFL

&& probably others thanks to MP!

It should go into delintPC.R since it modifies the original readPC.R input.

@mkclapp can you make the change?

Cheers,

Durrell

[2022-09-21 00:11] mkclapp commented on #96
I have created a pull request from branch "96-inconsistent-4-letter-coding" that modifies delintPC.R to include a step that checks all 4-letter codes against the same .txt file that readML.R uses.

**NOTE** The code I pushed contains a Google Drive link to automatically download the file if it doesn't already exist on your local workspace (copied directly from readML.R). If you haven't had any pro

[2022-09-21 00:24] mkclapp opened #97 "DOWO and RWBL missing in ML model (?)"
When addressing the inconsistencies in 4-letter codes between ML and PC datasets, I noticed that the following birds in the PC dataset do not have corresponding entries in birds.txt (which I assume is an index of all the birds in the ML output/species the model is trained on):

DOWO (Downy Woodpecker)
RWBL (Red-winged Blackbird)

Both are rare on the landscape but have been detected in point count

[2022-10-10 17:25] #96 closed

[2022-10-21 00:12] mschulist commented on #97
If we have to retrain the model to add these species let's also do the following:
1. Add Pine Grosbeak (PIGR)
2. Brewer's Sparrow has a lot of false positives
3. It might be nice to be able to see the breakdown of random noises generated by humans and airplanes. This could be useful if we use H4N recordings.

[2022-11-19 00:47] ddkapan opened #101 "Matt hard-coded fix for points in latlon.csv that don't have PC or ARU data"
Probably should build code to use joins to remove the outer indices using a join.

Solved for now but could be a future feature!

[2022-11-23 17:44] mkclapp opened #105 "current time-of-morning filters exclude nocturnal species"
very low priority right now, but in the future, when we want to investigate nocturnal species (eg, Spotted Owl), we will need to remove or modify the filter on the time of morning on the ARU data.

This enhancement would also allow one to explore vocalization rates over the course of the morning or season.

[2022-11-23 19:15] mkclapp opened #106 "revise model_read_lib to output visit-level covariates for PC data"
Automatically generate data list with visit-level data for PC data, for use in adding visit-level covariates to the detection level of the model (ie, covariates on p11).

(Right now, we don't have an analogous parameter for the ML detections. We could add this, and use the start time of the file, the mean of the SongMeter temperature log during that time (or morning, if aggregating by day), etc...

[2022-11-23 21:06] mkclapp opened #107 "Add multiple site-level covariates to occupancy model"

[2022-11-24 01:29] mschulist commented on #106
I can work on this over the next few days. I don't see temp and wind in the PC file, so like you said, I think we need to go to Michael Park's database to access them.

[2022-11-24 05:23] mschulist commented on #106
@mkclapp I _think_ that I was able to create indices for the observer in read_model_lib. It's currently in the `survey-covars` branch.

It makes a matrix similar to that of y.ind, but instead of the number of counts it has the observer name.

I can work on adding the time and date to the "data list," but I just want to be sure that this formatting would work when indexing it in the jags model. The

[2022-11-24 17:45] ddkapan commented on #106
I need to export the relevant data T and wind and we will need to modify the readPC script to accommodate. Finally we can tidy this up and have a separate table of visits with covariates in order to do data imputation etc.  A separate issue is to get and clean the metadata from the ARU temperatures.

[2022-11-24 17:47] ddkapan commented on #106
(after a) Happy Thanksgiving y'all!

[2022-11-24 19:15] mschulist commented on #106
I just pushed my changed to `106-visit-covars`.

I updated model_read_lib to include the observer, date, and time for PC visits. Date and Time are standardized like they were in @mkclapp 's manual script.

I'll work on doing a similar thing for the ARUs, but I'm not sure if I should put them in a vector similar to that of the `Scores` or in a matrix like `y.aru`.